chardet==3.0.4
six==1.15.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.5
idna==3.4
msal==1.25.0
pycparser==2.21
PyJWT==2.8.0
rel==0.4.7
requests==2.31.0
urllib3==2.1.0
black==23.11.0